# Python environments
venv/
.venv/
.venv312/

# Python cache
**pycache**/
__pycache__/
*.pyc

# Local OS files
.DS_Store

# Chroma local database
chroma_db/

# Environment secrets
.env

# Local generated data
data/raw/

README_old.md
data/parsed/
